<%- include("partials/header") -%>
<h1>Welcome to your Daily Journal !</h1>
<p>Nothing in mind?? get started with summarising your day.</p>


<div class="dailyjournel">
    <%posts.forEach(function(post){%>
        <h4 class="title"><%= post.title %> <small>(<%=post.date%>)</small><h4>
        <p> <%= post.content.substring(1, 100) + "..." %> <a href="/posts/<%=post._id%>">read more</a></p>
        <form action="/delete" method="post">
            <button type="submit" class="btn btn-dark" value="<%=post._id%>"  name="deleteId">Delete</button>
        </form>
        
    <%})%>
</div>
<%- include("partials/footer") -%>